<div class="jumbotron">
  <div class="white">
    <h1 class="display-4">HELLO</h1>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger
      container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/talent" role="button">Listings</a>
    </p>
  </div>
</div>
