

<%= form_with(model: @sales_upload, local: true) do |f| %>
  <p>
    <%= f.label :remote_video_url %>
    <%= f.file_field :remote_video_url %>
  </p>
  <p>
    <div class="actions">
      <%= f.submit %>
    </div>
  </p>
  <% end %>
